language: python
sudo: false


matrix:
  include:

    - python: 2.7
      env: TOXENV=py27

    - python: 3.3
      env: TOXENV=py33

    - python: 3.4
      env: TOXENV=py34


install:
  - "pip install -U pip setuptools"
  - "pip install tox codecov"
script:
  - "tox -- -rs"
after_success:
  - "codecov"

notifications:
  slack:
    secure: hSy5LMc+rH5FCsAjyn2HOhMxECtw4menpFFMVDg22Ngp0sLeranNoXae0fr3gtD9HR5QmdDvvaYosgXrudJQFS/1IdX3/BlCi6uAvxdEBgkiVefaUj4fRuIH1xmuV5oeBfq5t8FEWNxwgB1wDJKYXi32JUJ+VAtxE8kVbAgqQBxiG79XCC7RL0331ojXlhNidc9jrE5EHmljs0VtU2Ii2Gy1GkGUEFDPiHMTiLvzFwZYwBOHVQNvdj6zFG0myr8dW6NMEaVkbVPKAdGoF9XwotUIsqtpeJ0FTofYHAO2v2y2Wk1MizSh8/hxBR2O8n00P8+9L+6xDKt4l9oKE7epOSFZDxvu567xF748F+WuSI6SB92GygpEBxc5003BFhJ4PtDGKtimY+QlWda6jwR1zaOJaBFfoq7z+oLOk/BgKKS5YUsl0zV+hwv8qg+Cpy9BomcdvlJECDXwm/6zsZh3EmacXut9eo05pcJQMKwuyVk015LtNcO/KJ9APRHWMJsJ6TM5UEui/vzB2FWMv3pYHKkxwLpSHzMbGNBe1KhemfgrI9v4NHxKaKkOCMdS5qgf7ktn10aCrKx3xpWTpfJwsj+OepIs7i/IVcnDXTCHt+PYcqcLMh+3w6XepBNWJ9Jf8+NDzj8ZrGyAQAZN7r/tKNaLzKnXUmf4VTdp3aPE9Q4=
